<!-- app/components/cell.hbs -->
{{!-- <div class="cell" {{on "click" (fn this.args.onClick this.args.index)}}>
  {{#if this.args.player}}
    <span class="player-mark">{{this.args.player}}</span>
  {{/if}}
</div> --}}


<!-- app/components/cell.hbs -->
{{!-- <div class="cell" {{on "click" (fn this.args.onClick this.args.index)}}>
  {{#if this.player}}
    <span class="player-mark">{{this.player}}</span>
  {{/if}}
</div> --}}

<!-- app/components/cell.hbs -->
{{!-- {{ <div class="cell" {{on "click" (fn this.args.onClick this.args.index)}}>
  {{#if this.args.player}} --}}
    {{!-- <span class="player-mark">{{this.args.player}}</span>
  {{ {{/if}}
</div> }} --}} 

<!-- app/components/cell.hbs -->
<div class="cell" {{on "click" (fn this.args.onClick this.args.index)}}>
  {{#if this.args.player}}
    <span class="player-mark">{{this.args.player}}</span>
  {{/if}}
</div>


